flow.json
[
    {
        "id": "bd9487b28b0b9fc4",
        "type": "tab",
        "label": "Escribe en Azure",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bec477c3682790c5",
        "type": "tab",
        "label": "Lee de Azure",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "024630b3c2db6bf8",
        "type": "mqtt-broker",
        "name": "local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a70b18dd39b5be89",
        "type": "inject",
        "z": "bd9487b28b0b9fc4",
        "name": "saludo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "d53b521830b30a47"
            ]
        ]
    },
    {
        "id": "7230f5a93c745783",
        "type": "function",
        "z": "bd9487b28b0b9fc4",
        "name": "prepare_azure_menssage",
        "func": "const dataMessage={\nSensorId:msg.sensorid,\nvalue:msg.payload,\ntimestamp:msg.timestamp};\n\nconst azureMessage={\n    \"deviceId\": \"master_device_04MIOT\",\n\n    \"key\": \"HAzj1u78e3Hjzotp3n5bWiG/or0/kEAFaM635VwISLM=\",\n\n    \"protocol\": \"mqtt\",\n\n    \"data\": dataMessage\n};\n\nconst message2send = {};\n\nmessage2send.payload = azureMessage;\n\nreturn message2send;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 120,
        "wires": [
            [
                "1ec5c6b44974472f",
                "55f2c52370cb3c1a"
            ]
        ]
    },
    {
        "id": "1ec5c6b44974472f",
        "type": "azureiothub",
        "z": "bd9487b28b0b9fc4",
        "name": "Azure IoT Hub",
        "protocol": "mqtt",
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d53b521830b30a47",
        "type": "function",
        "z": "bd9487b28b0b9fc4",
        "name": "random",
        "func": "const randomValue={};\nrandomValue.sensorId=msg.sensorId;\nrandomValue.payload=Math.random()*msg.max;\nreturn randomValue;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "7230f5a93c745783"
            ]
        ]
    },
    {
        "id": "a6d119d2e96f89f8",
        "type": "mqtt in",
        "z": "bd9487b28b0b9fc4",
        "name": "",
        "topic": "mqtt_brocker/test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "024630b3c2db6bf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "5a85148dbcb60fe0"
            ]
        ]
    },
    {
        "id": "9b2b691369d9f3f2",
        "type": "debug",
        "z": "bd9487b28b0b9fc4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "55f2c52370cb3c1a",
        "type": "debug",
        "z": "bd9487b28b0b9fc4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "5a85148dbcb60fe0",
        "type": "function",
        "z": "bd9487b28b0b9fc4",
        "name": "function 1",
        "func": "const formatedMessage = {}\n\nformatedMessage.sensorId = msg.sensorId;\n\nformatedMessage.payload = msg.payload; \n\nformatedMessage.timestamp = msg.timestamp;\n\nreturn formatedMessage;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 420,
        "wires": [
            [
                "7230f5a93c745783"
            ]
        ]
    },
    {
        "id": "182a36dfc036504b",
        "type": "azureiothubreceiver",
        "z": "bec477c3682790c5",
        "name": "Azure IoT Hub Receiver",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "1c30962b36091cf5"
            ]
        ]
    },
    {
        "id": "1c30962b36091cf5",
        "type": "debug",
        "z": "bec477c3682790c5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    }
]